body{
    background-color: chocolate;
    margin: 0 auto;
}
#contenedor_cards{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
}
.card{
    text-align: center;
    width: 180px;
    height: 250px;
    margin: 10px;
    border: 2px solid rgb(7, 117, 104);
    border-radius: 15px;
    background-color: brown;
}
.card img{
    width: 150px;
    height: 150px;
}  
.card p{
    font-size: 20px;
    font-weight: bold;
} 
.card div {
    font-size: 21px;
}